name: CSUUID.cr Build Docs

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 3 * * *'
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Download source
      uses: actions/checkout@v2
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
    - name: Install dependencies
      run: shards install
    - name: Build docs
      run: crystal docs
    - name: Deploy docs
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs
        SINGLE_COMMIT: true
